<!-- <h1>Hello Wordl</h1> -->
<!-- <hinv-rooms></hinv-rooms> -->

<!-- <hinv-container>
  <hinv-rooms></hinv-rooms>
  <hinv-employee></hinv-employee>
  <h1>This is from ng-content</h1>
</hinv-container> -->

<!-- #name turns name it into a reference -->
<!-- <div #name></div>   -->

<!--
<div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    User
  </div>
  <div *ngSwitchCase="'Admin'">
    <hinv-rooms></hinv-rooms>
  </div>
  <div *ngSwitchDefault>
    Unauthorized.
  </div>
</div> -->
<!--
<div>
  <ng-template #user></ng-template>
</div> -->
<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<hinv-app-nav></hinv-app-nav>
<br/>
<!-- <router-outlet></router-outlet> -->
